[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
bokeh = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
nbdev = "*"
chamomile = {editable = true,path = "."}
appnope = "*"

[requires]
python_version = "3.7"
